<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AddressBook.Properties.Settings.infosys202130ConnectionString"
            connectionString="Data Source=172.16.42.1;Initial Catalog=infosys202130;User ID=gu;Password=c42dbpass"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>